@media screen and (min-width: 1201px) {
  .top3Content {
    height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .top3Content {
    height: 500px;
  }
}

.top3Overplay {
  background-color: #1d1d1d80;
  transition: all 0.5s ease-in-out;
}

.top1Item:hover .top3Overplay {
  transform: translateY(100%);
  opacity: 0;
}
.top2Item:hover .top3Overplay {
  transform: translateY(100%);
  opacity: 0;
}

.top3Item:hover .top3Overplay {
  transform: translateY(100%);
  opacity: 0;
}
.top1::after {
  border-radius: 5px;
  content: "";
  position: absolute;
  bottom: -8%;
  left: 0;
  height: 4px;
  width: 125%;
  background-image: linear-gradient(
    to right,
    #c8235d,
    #c82a7f,
    #bd3ca1,
    #a651c2,
    #7f66de
  );
}

.top2::after,
.top3::after {
  border-radius: 5px;
  content: "";
  position: absolute;
  bottom: 0;
  right: -20%;
  height: 100%;
  width: 3px;
  background-image: linear-gradient(
    to bottom,
    #c8235d,
    #c82a7f,
    #bd3ca1,
    #a651c2,
    #7f66de
  );
}

.top1Score {
  top: 20px;
  right: 20px;
  width: 65px;
  height: 35px;
  border-radius: 5px;
  background-color: #70707080;
  transition: all 0.5s ease-in-out;
  line-height: 35px;
}

.top2Score,
.top3Score {
  top: 20px;
  right: 20px;
  width: 65px;
  height: 35px;
  border-radius: 5px;
  background-color: #70707080;
  transition: all 0.5s ease-in-out;
  position: absolute;
  text-align: center;
  line-height: 35px;
}

.top1Score span,
.top2Score span,
.top3Score span {
  height: 35px;
}

.top1Item:hover .top1Score,
.top2Item:hover .top2Score,
.top3Item:hover .top3Score {
  transform: translateY(-200%);
  opacity: 0;
}

.hoverOverplay {
  background-color: #70707080;
  transition: all 0.5s ease-in-out;
}

.top1Item:hover .hoverOverplay {
  opacity: 1;
}
.top2Item:hover .hoverOverplay {
  opacity: 1;
}
.top3Item:hover .hoverOverplay {
  opacity: 1;
}
