.movieInfo {
  border-top: 1px solid transparent;
}

.cinemaTab:hover .cinemaName {
  color: #7f66de;
}

.textActive {
  color: #7f66de !important;
}

.showtimeSelector {
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-radius: 0 0 16px 16px;
}
