@media screen and (max-width: 768px) {
  .Unavailable {
    width: 100%;
    height: 50px;
  }
}

@media screen and (min-width: 769px) {
  .Unavailable {
    width: 100%;
    height: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .Unavailable {
    width: 100%;
    height: 50px;
  }
}

@media screen and (min-width: 1201px) {
  .Unavailable {
    width: 100%;
    height: 50px;
    border-radius: 5px;
  }
}
